<!-- views/pages/index.ejs -->

<!DOCTYPE html>

<html>

<head>
    <title>Munro Spotter</title>
    <% include ../partials/head.ejs %>
</head>

<body>

    <header>
        <% include ../partials/header.ejs %>
    </header>

    <main>
        <section class="page">
            <h1>WELCOME</h1>
            <p>Munro Spotter is a companion app designed for those who enjoy the challenge of climbing.</p>
        </section>
    </main>

    <footer>
        <% include ../partials/footer.ejs %>
    </footer>

    <% include ../partials/scripts.ejs %>

</body>

</html>